
<EditForm Model="@gridBase" class="form-inline w-100">
    @if (gridBase.EnableSearch)
    {
        <div class="w-75">
            <div class="input-group">
                <InputText id="searchText" @bind-Value="gridBase.Search" placeholder="Search..." class="form-control" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-dark" @onclick="DoPageSearch"><i class="fas fa-search"></i></button>
                </div>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-dark" @onclick="DoReset"><i class="fas fa-sync"></i></button>
                </div>
            </div>
        </div>
    }
    @if (gridBase.EnableAdd)
    {
        <div class="ml-auto">
            <button type="button" class="btn icon btn-primary" @onclick="DoCreate">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    }
</EditForm>

@code {
    [Parameter]
    public GridBase gridBase { get; set; }

    [Parameter]
    public EventCallback<GridBase> OnPageSearch { get; set; }

    [Parameter]
    public EventCallback<GridBase> OnCreate { get; set; }

    protected async Task DoPageSearch()
    {
        await OnPageSearch.InvokeAsync(gridBase);
    }

    protected async Task DoCreate()
    {
        await OnCreate.InvokeAsync(gridBase);
    }

    protected async Task DoReset()
    {
        gridBase.Search = string.Empty;
        await OnPageSearch.InvokeAsync(gridBase);
    }
}
