
<th>
    <span>@displayName</span> 
    <button type="button" class="btn btn-link" @onclick="DoSort">
        @if (columnName == gridBase.SortColumnName)
        {
            @if (gridBase.SortDirection == "asc")
            {
                <span class="oi oi-sort-ascending small" aria-hidden="true"></span>
            }
            else
            {
                <span class="oi oi-sort-descending small" aria-hidden="true"></span>
            }
        }
        else
        {
            <span class="oi oi-sort-ascending text-secondary small" aria-hidden="true"></span>
        }
    </button>
</th>

@code {
    [Parameter]
    public GridBase gridBase { get; set; }

    [Parameter]
    public string columnName { get; set; }

    [Parameter]
    public string displayName { get; set; }

    [Parameter]
    public EventCallback<GridBase> OnSort { get; set; }

    protected async Task DoSort()
    {
        gridBase.SortColumnName = columnName;

        switch (gridBase.SortDirection)
        {
            case "asc":
                gridBase.SortDirection = "desc";
                break;
            default:
                gridBase.SortDirection = "asc";
                break;
        }

        await OnSort.InvokeAsync(gridBase);
    }
}

