@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="col-md-12 mt-3">
    <MultiSelectLayout MultiSelectItems="currencyList" OnItemClick="DoCurrencyListModelUpdate" />
</div>

<div class="col-md-12 mt-3">
    <MultiSelectLayout MultiSelectItems="vegetablesList" OnItemClick="DoVegetablesListModelUpdate" />
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public MultiSelectItems currencyList { get; set; }

    public MultiSelectItems vegetablesList { get; set; }

    protected override void OnInitialized()
    {
        InitTestData();
    }

    protected void DoCurrencyListModelUpdate()
    {
        foreach (var item in currencyList.Data)
        {
            Console.WriteLine(item.Id + " " + item.Text + " " + item.IsSelected);
        }
    }

    protected void DoVegetablesListModelUpdate()
    {
        foreach (var item in vegetablesList.Data)
        {
            Console.WriteLine(item.Id + " " + item.Text + " " + item.IsSelected);
        }
    }

    protected void InitTestData()
    {
        currencyList = new MultiSelectItems();
        //source list of all items user can select from
        currencyList.Data.Add(new MultiSelectItem("1", "USD", true, "51"));
        currencyList.Data.Add(new MultiSelectItem("2", "CAD"));
        currencyList.Data.Add(new MultiSelectItem("3", "NSD"));
        currencyList.Data.Add(new MultiSelectItem("4", "AUD", true, "52"));
        currencyList.Data.Add(new MultiSelectItem("5", "JPY"));
        currencyList.Data.Add(new MultiSelectItem("6", "EUR"));


        vegetablesList = new MultiSelectItems();
        //source list of all items user can select from
        vegetablesList.Data.Add(new MultiSelectItem("1", "Potatoes"));
        vegetablesList.Data.Add(new MultiSelectItem("2", "Tomatoes", true, "101"));
        vegetablesList.Data.Add(new MultiSelectItem("4", "Carrots", true, "102"));
        vegetablesList.Data.Add(new MultiSelectItem("3", "Spinach"));
        vegetablesList.Data.Add(new MultiSelectItem("5", "Beets"));
        vegetablesList.Data.Add(new MultiSelectItem("6", "Radishes"));

    }
}
