@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="col-md-12 mt-3">
    <MultiSelectLayout MultiSelectItems="currencyList" />
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public MultiSelectItems currencyList { get; set; }

    protected override void OnInitialized()
    {
        InitTestData();
    }

    protected void InitTestData()
    {
        currencyList = new MultiSelectItems();
        //source list of all items user can select from
        currencyList.Data.Add(new MultiSelectItem("1", "USD", true, "51"));
        currencyList.Data.Add(new MultiSelectItem("2", "CAD"));
        currencyList.Data.Add(new MultiSelectItem("3", "NSD"));
        currencyList.Data.Add(new MultiSelectItem("4", "AUD", true, "52"));
        currencyList.Data.Add(new MultiSelectItem("5", "JPY"));
        currencyList.Data.Add(new MultiSelectItem("6", "EUR"));

        currencyList.Data.OrderBy(x => x.Text);
    }
}
