@page "/"

<h1>Blazor WASM - Grid Example</h1>
<p>This is a basic grid implementation which relies on server side paging. This is a work in progress and any enhancements are welcome</p>
<ul>
    <li>Uses Bootstrap 4</li>
    <li>Uses InMemory database</li>
    <li>Server side only</li>
    <li>Search capapbilty available</li>
    <li>Paging Available</li>
    <li>Sorting Available</li>
</ul>

<h5 class="small">Alpha Release - not meant for production use</h5>


